@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body,
html {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #08415c, #cc2936, #ebbab9, #388697, #b5ffe1);
    background-size: 400% 400%;
    overflow: hidden;
    animation: gradient 15s ease infinite;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}